In [1]:
import pandas as pd
import numpy as np

from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

In [2]:
df = pd.read_csv('/Users/martinpalkovic/Desktop/Data_Science/Housing_Prices/Housing_Dash/df_ml.csv').set_index('RegionName')
df = df.drop(['Unnamed: 0'], axis = 1)
print(df.dtypes)
df.head()

1996-01-31    float64
1996-02-29    float64
1996-03-31    float64
1996-04-30    float64
1996-05-31    float64
               ...
2020-09-30    float64
2020-10-31    float64
2020-11-30    float64
2020-12-31    float64
2021-01-31    float64
Length: 301, dtype: object

,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,...,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,107078.139841,106912.028921,106970.723296,107174.545297,107418.527787,107630.765587,107807.695089,108099.783885,108292.142932,108533.037041,...,252397.657652,252793.747763,253851.142534,255808.532834,258039.424259,260550.877721,263454.858165,266372.523842,269089.903737,271840.012880
"New York, NY",188826.064928,187106.707628,186720.772562,186404.224282,186296.042767,185738.513223,185760.066312,185887.945528,185835.272082,186012.148444,...,488449.193931,489112.009720,489748.646061,493351.841193,496501.630791,502500.920669,508279.498501,512993.312342,518129.654775,521485.683239
"Los Angeles-Long Beach-Anaheim, CA",188098.953461,187426.012004,187132.434017,187108.612854,186976.763281,186845.673222,186649.429382,186724.581634,186486.900918,186198.912732,...,707201.324329,694238.712754,697890.493013,706580.382404,716005.331227,724611.531351,737755.930707,740197.984817,746459.552309,755509.066001
"Chicago, IL",162711.455297,162710.595379,161693.774245,163263.597141,163848.298246,164211.680606,164439.837521,164891.029411,165279.183612,165551.169254,...,247711.934086,248366.619210,249168.577734,251117.444915,252469.240179,255838.509355,258170.090714,258544.224937,260726.458654,261271.321011
"Dallas-Fort Worth, TX",111689.873405,111606.661283,111922.465326,112443.669642,112679.681696,112663.946571,112876.214513,113049.335042,113126.226237,113637.222474,...,258054.230594,258710.523762,260367.421347,261377.456849,263708.772116,265696.884991,268597.616442,270711.709183,273691.052577,275161.733281

In [18]:
df_test = df.iloc[0]
# df_test
model = ARIMA(df_test, order = (2,1,2), freq = 'M') #model_data == dataframe
res = model.fit()

forecast = res.forecast(24) #forecast_steps == integer. returns a NumPy array
forecast_mean = forecast[0]
forecast_se = forecast[1]
forecast_ci = forecast[2]

df_forecast = pd.DataFrame()
df_forecast['Mean'] = forecast_mean.T
df_forecast['Lower_ci'], df_forecast['Upper_ci'] = forecast_ci.T
df_forecast['Date'] = pd.date_range(start = '2021-02', periods = 24, freq = 'MS')
df_forecast['Date'] = df_forecast['Date'].dt.strftime('%Y-%m')
df_forecast.index = df_forecast['Date']

df_forecast['City'] = df_test.name
df_forecast

                  Mean       Lower_ci       Upper_ci     Date           City
Date
2021-02  274513.044283  274023.740611  275002.347956  2021-02  United States
2021-03  277111.190407  275988.639795  278233.741020  2021-03  United States
2021-04  279618.876053  277712.003258  281525.748848  2021-04  United States
2021-05  282052.290954  279268.054003  284836.527904  2021-05  United States
2021-06  284406.471780  280658.320968  288154.622592  2021-06  United States
2021-07  286690.131398  281913.972699  291466.290098  2021-07  United States
2021-08  288902.752512  283041.140980  294764.364044  2021-08  United States
2021-09  291049.669230  284056.850512  298042.487948  2021-09  United States
2021-10  293132.153264  284968.046127  301296.260400  2021-10  United States
2021-11  295153.945949  285785.616729  304522.275170  2021-11  United States
2021-12  297116.969013  286516.052177  307717.885849  2021-12  United States
2022-01  299024.155041  287167.134610  310881.175471  2022-01  United States
2022-02  300877.593036  287744.567339  314010.618734  2022-02  United States
2022-03  302679.756180  288254.340672  317105.171688  2022-03  United States
2022-04  304432.701264  288701.364272  320164.038256  2022-04  United States
2022-05  306138.602398  289090.471296  323186.733500  2022-05  United States
2022-06  307799.406508  289425.867558  326172.945459  2022-06  United States
2022-07  309417.066386  289711.568122  329122.564650  2022-07  United States
2022-08  310993.393457  289951.180881  332035.606032  2022-08  United States
2022-09  312530.160498  290148.102878  334912.218119  2022-09  United States
2022-10  314029.039656  290305.440389  337752.638924  2022-10  United States
2022-11  315491.648588  290426.101752  340557.195423  2022-11  United States
2022-12  316919.525232  290512.772441  343326.278023  2022-12  United States
2023-01  318314.149325  290567.962275  346060.336376  2023-01  United States

In [47]:
df_final = pd.DataFrame()

for i in range(len(df)):
    try:
        dfi = df.iloc[i]
        model = ARIMA(dfi, order = (2,1,2), freq = 'M')
        res = model.fit()
        forecast = res.forecast(24) # two years
        forecast_mean = forecast[0]
        forecast_se = forecast[1]
        forecast_ci = forecast[2]

        df_forecast = pd.DataFrame()
        df_forecast['Mean'] = forecast_mean.T
        df_forecast['Lower_ci'], df_forecast['Upper_ci'] = forecast_ci.T
        df_forecast['Date'] = pd.date_range(start = '2021-02', periods = 24, freq = 'MS')
        df_forecast['Date'] = df_forecast['Date'].dt.strftime('%Y-%m')
        df_forecast.index = df_forecast['Date']
        df_forecast['City'] = dfi.name

        df_final = pd.concat([df_final, df_forecast], ignore_index = True)
#         df_final = df_final.add(df_forecast, fill_value = 0)
    except:
        pass

/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:716: RuntimeWarning: divide by zero encountered in log
  invmacoefs = -np.log((1-macoefs)/(1+macoefs))
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/_numdiff.py:410: RuntimeWarning: invalid value encountered in subtract
  dx = ((x0 + h) - x0)
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/_numdiff.py:496: RuntimeWarning: invalid value encountered in double_scalars
  dx = x[i] - x0[i]  # Recompute dx as exactly representable number.
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:689: RuntimeWarning: overflow encountered in exp
  newparams = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:689: RuntimeWarning: invalid value encountered in true_divide
  newparams = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:690: RuntimeWarning: overflow encountered in exp
  tmp = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:690: RuntimeWarning: invalid value encountered in true_divide
  tmp = ((1-np.exp(-params))/(1+np.exp(-params))).copy()
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:716: RuntimeWarning: invalid value encountered in log
  invmacoefs = -np.log((1-macoefs)/(1+macoefs))
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/_numdiff.py:390: RuntimeWarning: invalid value encountered in less
  if np.any((x0 < lb) | (x0 > ub)):
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/_numdiff.py:390: RuntimeWarning: invalid value encountered in greater
  if np.any((x0 < lb) | (x0 > ub)):
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/_numdiff.py:405: RuntimeWarning: invalid value encountered in greater_equal
  sign_x0 = (x0 >= 0).astype(float) * 2 - 1
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:714: RuntimeWarning: invalid value encountered in double_scalars
  tmp[kiter] = (macoefs[kiter]-b *macoefs[j-kiter-1])/(1-b**2)
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:672: RuntimeWarning: divide by zero encountered in arctanh
  invarcoefs = 2*np.arctanh(params)
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
/Users/martinpalkovic/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "

In [48]:
df_final

               Mean       Lower_ci       Upper_ci     Date           City
0     274513.044283  274023.740611  275002.347956  2021-02  United States
1     277111.190407  275988.639795  278233.741020  2021-03  United States
2     279618.876053  277712.003258  281525.748848  2021-04  United States
3     282052.290954  279268.054003  284836.527904  2021-05  United States
4     284406.471780  280658.320968  288154.622592  2021-06  United States
...             ...            ...            ...      ...            ...
8635  207046.997959  194098.811608  219995.184310  2022-09      Craig, CO
8636  207551.638441  194013.120341  221090.156542  2022-10      Craig, CO
8637  208053.620770  193928.212175  222179.029365  2022-11      Craig, CO
8638  208553.070458  193844.406431  223261.734486  2022-12      Craig, CO
8639  209050.107094  193761.993576  224338.220611  2023-01      Craig, CO

[8640 rows x 5 columns]

In [ ]:
model = ARIMA(model_data, order = (2,1,2), freq = 'MS') #model_data == dataframe
res = model.fit()

forecast = res.forecast(forecast_steps) #forecast_steps == integer. returns a NumPy array
forecast_mean = forecast[0]
forecast_se = forecast[1]
forecast_ci = forecast[2]

df_forecast = pd.DataFrame()
df_forecast['Mean'] = forecast_mean.T
df_forecast['Lower_ci'], df_forecast['Upper_ci'] = forecast_ci.T
df_forecast['Date'] = pd.date_range(start = '2021-02', periods = 24, freq = 'MS')
df_forecast['Date'] = df_forecast['Date'].dt.strftime('%Y-%m')
df_forecast.index = df_forecast['Date']

df_forecast_mean = df_forecast['Mean']

In [ ]:
def house_price_forecast(model_data, forecast_steps, city, filename):
    #--- ARIMA Model (autoregressive integrated moving average)
    model = ARIMA(model_data, order = (2,1,2), freq = 'MS') #model_data == dataframe
    res = model.fit()
    
    forecast = res.forecast(forecast_steps) #forecast_steps == integer. returns a NumPy array
    forecast_mean = forecast[0]
    forecast_se = forecast[1]
    forecast_ci = forecast[2]
    
    df_forecast = pd.DataFrame()
    df_forecast['Mean'] = forecast_mean.T
    df_forecast['Lower_ci'], df_forecast['Upper_ci'] = forecast_ci.T
    df_forecast['Date'] = pd.date_range(start = '2021-02', periods = 24, freq = 'MS')
    df_forecast['Date'] = df_forecast['Date'].dt.strftime('%Y-%m')
    df_forecast.index = df_forecast['Date']

    df_forecast_mean = df_forecast['Mean']

In [ ]:
# citylist = df['RegionName'].tolist()

# for city in citylist[:5]:
#     #--- data preparation ---
#     df_pred = df_ml[df_ml['RegionName'] == city]
#     df_pred = df_pred.transpose().reset_index().drop([0])
#     df_pred.columns = ['Date', 'MedianHomePrice_USD']
#     df_pred['MedianHomePrice_USD'] = df_pred['MedianHomePrice_USD'].astype('int')
#     df_pred['Date'] = pd.to_datetime(df_pred['Date'])
#     df_pred['Date'] = df_pred['Date'].dt.strftime('%Y-%m')
#     df_model = df_pred.set_index('Date')
#     model_data = df_model['MedianHomePrice_USD']
    
#     #--- iterate over the model function ---
#     try:
#         house_price_forecast(model_data, 24, city) #24 month prediction
#     except:
#         pass